<div class="app-container">
  <md-toolbar color="primary" id="header">
    <h1>Adventure Mapper</h1>
  </md-toolbar>

  <div class="main-map-container">
    <esri-map [map]="map" [mapKey]="0" [mapExtent]="extent">
    </esri-map>
  </div>

  <div class="adventures-container">

    <div class="row">
      <app-adventure [adventure]="adventure"></app-adventure>
    </div>

    <!-- attr.id is used to give element an id -->
    <app-attraction *ngFor="let attraction of attractions; let i = index" [attraction]="attraction" [map]="map" [attr.id]="'attraction-'+i">
    </app-attraction>

  </div>
</div>

<a href="#header">
<button md-fab md-raised-button [disableRipple]="true" aria-label="menu" class="app-action">
  <md-icon md-24 class='map-fab-icon'> map </md-icon>
</button>
</a>

<md-toolbar color="primary">
  <div id="footer">
    <h4>Adventure Mapper - An Angular2 Application by Andrew Wang</h4>
  </div>
</md-toolbar>
