:host{
  height: 100%;
  width: 100%;
}
.app-container{

}
.main-map-container{
  height: 60%;
}
.adventures-container{
  padding: 20px;
  display:flex;
  flex-direction:column
}
.adventures-container md-card{
  margin: 20px;
}

.row{
  flex: 0 0 0;
  margin: 30px;
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.map-fab-icon{
  padding-top: 0px;
}
