<div class="app-container">
  <md-toolbar color="primary">
    <h1>Adventure Mapper</h1>
  </md-toolbar>

  <div class="main-map-container">
    <esri-map [map]="map" [mapKey]="0">
    </esri-map>
  </div>

  <div class="adventures-container">

    <div class="row">
      <app-adventure [adventure]="adventure"></app-adventure>
    </div>

    <!-- attr.id is used to give element an id -->
    <app-attraction *ngFor="let attraction of attractions; let i = index" [attraction]="attraction" [attractionId]="i" [map]="map" [attr.id]="'attraction-'+i">
    </app-attraction>

  </div>
</div>
